.job {
  padding: 1.5rem;
  text-align: center;
}

.job button {
  font: inherit;
  cursor: pointer;
  color: #77002e;
  border: 1px solid #77002e;
  background-color: transparent;
  padding: 0.5rem 1.5rem;
  border-radius: 4px;
}

.job button:hover,
.job button:active {
  background-color: #ffe2ed;
}
